html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /* font-size: 20px; */
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#container{
  height: 100vh;
  padding: 20px;
}

#header{
  /* display: Define que una caja será flexbox de bloque o flexbox de línea. */
  display: flex;
  /* flex-direction: Define el eje principal (main axis) row - X, column - Y. */
  flex-direction: row;
  /* flex-wrap: Define si la caja flexbox envuelve o NO a sus hijos. */
  flex-wrap: "wrap";
  /* justify-content: Define la alineación de los hijos en el eje principal (main axis). */
  justify-content: flex-end;
  /* align-items: Define la alineación de los hijos en el eje transversal (cross axis), dentro de cada línea. */
  align-items: center;
  
  background-color: black;
}
#body{
  /* display: Define que una caja será flexbox de bloque o flexbox de línea. */
  display: flex;
  /* flex-direction: Define el eje principal (main axis) row - X, column - Y. */
  flex-direction: row;
  /* flex-wrap: Define si la caja flexbox envuelve o NO a sus hijos. */
  flex-wrap: wrap;
  /* justify-content: Define la alineación de los hijos en el eje principal (main axis). */
  justify-content: flex-end;
  /* align-items: Define la alineación de los hijos en el eje transversal (cross axis), dentro de cada línea. */
  /* align-items: center; */
  /* align-content: Define la alineación de los hijos en el eje transversal (cross axis), NO funciona cuando los hijos están en UNA sóla línea (es decir cuando flex-wrap tiene el valor de nowrap, NO FUNCIONA). */
  /* align-content: flex-start; */

  background-color: black;
}