html, body{
  padding: 0;
  margin: 0;
}

#fullScreen{
  height: 100vh;
}

#nav{
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}


#elment1{
  
  background-color: blueviolet;
}
#elment2{
  
  background-color: blue;
}
#elment3{
  
  background-color: black;
}
#elment4{
  
  background-color: red;
}
#elment5{

  background-color: orange;
}

.elements{
  width: 100px;
  height: 100px;
  margin: 0px 50px;
}

